/*---https://meyerweb.com/eric/tools/css/reset/---*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block; }
body {
	line-height: 1; }
ol, ul {
	list-style: none; }
blockquote, q {
	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; }
table {
	border-collapse: collapse;
	border-spacing: 0; }
/*---------------------------------------------*/
* { box-sizing: border-box; }
html { height: 100%; }
a { text-decoration: none; }
input:focus{outline: none;}
.material-symbols-rounded {
  font-variation-settings: 'FILL' 1, 'wght' 200, 'GRAD' 0, 'opsz' 25 }
:root { 
    --border-radius-large: 2.5em;
    --border-radius-small: 0.5em;
    --cg-fs: Century Gothic, sans-serif;
    --brightness-filter: brightness(110%); }

:root.theme-dark { 
    --text: #c4c8d4;
    --background: #0d0d0d;
    --primary-button: #218bfd;
    --secondary-button: #f0f0ff;
    --accent: #2a52c9;
    --dim-red: #b53c54; 
    --dim-green: #3cc2ac;
    --light-text: #474c4f;
    --shadow1: #2a52c9bf;
    --shadow2: #218bfdbf; }

:root.theme-light {
    --text: #2b343b;
    --background: #ffffff;
    --actual-background: #f7fcff;
    --primary-button: #218bfd;
    --secondary-button: #f0f0ff;
    --accent: #3d6efc;
    --dim-red: #b32031; 
    --dim-green: #06c7ad;
    --light-text: #98a2a9;
    --shadow1: #218bfdbf;
    --shadow2: #022fb6bf; }

body {
    background-color: var(--actual-background);
    display: flex;
    flex-direction: column;
    height: 100%; 
    justify-content: center;
    align-items: center;
    font-family: var(--cg-fs); }

#content {
    background-color: var(--background);
    border: 3px solid var(--accent);
    border-radius: var(--border-radius-large);
    padding: 1.3rem 2.5rem;
    box-shadow: 10px 10px var(--shadow1), -10px -10px var(--shadow2);
    transition: all 0.5s ease;}
form {   
    display: flex;
    flex-direction: column; }
legend {
    font-size: 1.4rem;
    color: var(--accent);
    background: -webkit-linear-gradient(45deg, var(--primary-button),  var(--accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 0.3rem;
    font-weight: 600;}

fieldset{
    margin-bottom: 0.8rem; }

form li {
    font-size: 0.9rem;
    padding-bottom: 0.7rem;
    color: var(--text); 
    position: relative; }

label { 
    width: 50%; }

input {
    color:var(--text);
    background-color: var(--background);
    margin: 0.1rem 0rem 0rem 0.5rem;
    padding: 0.4rem;
    width: calc(100% - 0.5rem);
    font-size: 0.9rem;
    font-family: var(--cg-fs);
    border-radius: var(--border-radius-small); 
    border: 1px solid var(--text); }
 input:focus {
    outline: 1px solid var(--accent); 
    border-color: var(--accent);
    background: var(--background); 
    filter: var(--brightness-filter); }
input::placeholder {
    font-size: 0.8rem;
    color: var(--light-text);}

form .valid {
    outline: 1px solid var(--dim-green);
    border-color: var(--dim-green); 
     transition: all 0.5s ease;}
form .invalid {
    outline: 1px solid var(--dim-red);
    border-color: var(--dim-red);
    transition: all 0.5s ease; }

button{
    font-size: 0.9rem;
    background-color: var(--primary-button);
    color: var(--secondary-button);
    border-radius: var(--border-radius-small);
    padding: 0.4rem 1.6rem;
    border-color: transparent;
    font-family: var(--cg-fs);
    font-weight: 600;}
button:hover {
    cursor: pointer;
    filter: var(--brightness-filter);
    transition: all 0.4s ease; }
button:focus {
    border-color: transparent;
    outline: none;
    filter: var(--brightness-filter); }

.small-text {
    color: var(--dim-red);
    margin-bottom: 0.5rem;
    font-size: 0.8rem; }
li .small-text {
    margin-bottom: -0.25rem;
    transform: translate(0.4rem , 0.2rem);
    transition: all 1s ease; }

::-webkit-datetime-edit { color: var(--light-text); }
::-webkit-calendar-picker-indicator { z-index: 1; opacity: 0;}
::-webkit-calendar-picker-indicator { z-index: 1; opacity: 0; cursor: pointer;}
.calendar {
    position: absolute;
    right: 2%;
    top: 32%;
    pointer-events: none;
    z-index: 2; 
    color: var(--text);}

.theme-bg {
    z-index: 2;
    background-color: var(--accent);
    padding: 2px 4px; 
    border-radius: 5px 5px 0 0; }
.theme-switch {
    color: var(--secondary-button);
    vertical-align: middle;}
.theme-switch:hover {
    color: white;
    transition: all 0.2s ease;
    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    transform: rotate(-20deg); }
    
/*add color transition for input fields*/